/* 背景色の設定 */
.body {
  background-color: #000000;
}

/* テーブルの装飾 */
    table {
      /* 電卓のサイズ */
      width: 300px;
      height: 400px;
      /* 電卓が浮き出るように影を付ける */
      border: solid 1px #dcdcdca4;
      border-right: solid 4px #dcdcdca4;
      border-bottom: solid 4px #dcdcdca4;
      border-radius: 10px;
      /* インライン要素を中央に配置 */
      text-align: center;
      /* 余白調整 */
      padding: 8px;
      margin: 20px;
    }
 
    input {
      /* ボタンのサイズ */
      width: 70px;
      height: 70px;
      /* ボタンの文字サイズ */
      font-size: x-large;
      /* 数字部分の背景色 */
      background-color: #dcdcdca4;
      /* ボタンの詳細設定 */
      border: none;
      border-radius: 20px;
      /* クリック時の黒枠を消す */
      outline: none;
      /* ボタンを丸くする */
      border-radius: 50px;
    }
    
    /* ディスプレイの詳細設定 */
    .display {
      width: 250px;
      text-align: right; /* 文字を右詰めに */
      /* 見た目の詳細設定 */
      background: #000000;
      color: #ffffff;
    }
    /* 演算子の背景色を上書きで設定 */
    .operator {
      background-color: orange;
      color: #ffffff;
    }
    /* 一番上のボタンの背景色を上書きで設定 */
    .top {
      background-color: #b6b6b6;
    }
    /* それ以外のボタンの背景色を上書きで設定 */
    .others {
      background-color: #444444;
      color: #FFFFFF;
    }
 
    /* カーソルを上に乗せた時に色を濃くする */
    input:hover {
      background: #747373b9;
    }
    .display:hover {
      background: #339cdd; /* ディスプレイ部分は無効化 */
    }
    .operator:hover {
      background: #339cdd;
    }
 
    /* クリック時に色を濃くする */
    input:active {
      background:  #5a5a5a;
    }
    .operator:active {
      background: #2c80b4;
    }
